// Variables

$bg-white:#ffffff;

$primary-gradient: -webkit-linear-gradient(107deg, #C21500, #8A2387);
$primary-gradient-hover: -webkit-linear-gradient(30deg, #8A2387, #C21500);

$white:#ffffff;
$gray-light: #f9f9f9;
$gray-medium: #A2A2A2;
$gray-dark: #1D1D1D; 